.birdsite {
  display: block;
  padding: 7px 0;
  opacity: 0.6;
}
.birdsite:hover,
.birdsite--checked,
.birdsite--success,
.birdsite--failure {
  opacity: 1.0;
}

.birdsite__checkbox {
  display: block;
  float: left;
  margin-left: 0px;
}

.birdsite__label {
  display: block;
  margin-left: 18px;
}

.birdsite__identity {
  display: none;
  margin-right: -5px;
}
.birdsite--ready:hover .birdsite__identity,
.birdsite--ready.birdsite--checked .birdsite__identity {
  display: inline-block;
}

.birdsite__username {
  color: #9baec8;
  opacity: 0.8;
}
.birdsite__username:hover {
  opacity: 1.0;
  cursor: pointer;
}

/* Status icons ************************************/

.birdsite__status {
  /* allow the status indicator icon to overlap the container margin */
  margin-right: -3px;
}
.birdsite--authenticating .birdsite__status::after,
.birdsite--posting .birdsite__status::after {
  content: '...';
  display: inline-block;
  margin-left: -2px;
  animation: 1.5s loading linear forwards infinite;
}
.birdsite--success .birdsite__status::after {
  content: '✓';
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  animation: 0.25s popIn ease-out forwards, 0.25s fadeOut 10s forwards;
}
.birdsite--failure .birdsite__status::after {
  content: '🤔';
  display: inline-block;
  vertical-align: middle;
  animation: 0.2s popIn ease-out forwards;
}

/* Animations ***************************************/

@keyframes loading {
  0% {
    content: '';
  }
  35% {
    content: '.';
  }
  50% {
    content: '..';
  }
  90% {
    content: '...';
  }
  100% {
    content: '...';
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  70% {
    opacity: 1;
    transform: scale(1.4, 1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
